*{
    background-color: #313131;
    color: #fff;
    font-size: large;
}

p{
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    margin-left: 25%;
}